.new-tweet {
  padding-left:auto;
  padding-right:auto;
  display:none;
  
}
.new-tweet textarea {
  background-color:transparent;
  width:95%;
  border:none;
  border-bottom:2px solid black;
  
}
.counter {
float:right;
}
.counter.problem{
  color:red;
}
.new-tweet input {
  background-color:blue;
  color:white;
  font-family:'Bungee', cursive;
  font-size:medium;
}
#tweet_list article {
  background-color:#f4f1ec;
  border:2px solid black;
margin-bottom:10px;
}
#tweet_list{
  width: 95%;
}

#tweet_list header {
  height:120px;
  width:100%;
  background-color:#f4f1ec;

}
#tweet_list header img {
    padding:17px;
    display:inline-block;
    vertical-align:middle;
}
.name {
  color:black;
  display:inline-block;
  vertical-align:middle;
  font-weight:bold;
  font-size:30px; 
}
#textStyle {
  border:none;
  border-bottom:2px solid black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-break: break-all
}
.handle {
  padding:10px;
  float:right;
  color: #f4f1ec;
}
article:hover {
  -moz-box-shadow:3px 3px 5px 6px orange;
  -webkit-box-shadow:3px 3px 5px 6px orange ;
  box-shadow: 3px 3px 5px 6px orange;
}
article:hover .handle {
  color: black;
}
#image {
  width: 20px;
  height: 20px;
}
#div button {
  background-color: transparent;
}
#Writetweet{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
}
#div{
 float: right;
 background-color:transparent;
}
button:hover{
  border: 2px solid red;
  border-radius: 20px;
}
#errormessage {
  display: none;
  border-radius: 25px;
  border: 2px solid red;
  color:red;
  background-color:white;
  text-align: center;
}
#errormessage img {
  height: 30px;
  width: 30px; 
}
